# gonna be updating this everytime i update the website :^)
/assets/CHROMEBERETTA.mp4
/assets/gladiator.mp4
/assets/ily so.mp4
/assets/ilybaby.mp4
/assets/pokeballer.mp4
/assets/shalom.mp4
/assets/willypack.mp4
/assets/xxxmetaknight.mp4
/assets/zonin.mp4